<div class="row container" style="width: 20rem; padding: 50px; background-color: #e9ecef; border-radius: 0.5rem; margin: 100px auto auto;">
    <div>
        <br>
        <br>
        <h3 style="color: #00818A; text-align: center;">Reserva realizada con éxito </h3>
        <br>
        <div style="display: flex; justify-content: center">
            <form id="reserva" method="post" action="/index/{{restaurante}}/{{mesa}}/{{cliente}}/reserva/addConsumo"
                  style="text-align: center; width: 20rem; margin: auto; padding: 20px; background-color: #e9ecef; border-radius: 0.5rem;">
                <strong>¿Desea ver consumo?</strong>
                <div style="display: flex; justify-content: center">
                    <button type="submit"
                            style=" background: #00818A; color: white; border: 2px solid #00818A; border-radius: 0.2rem; margin-top: 30px;"
                            name="btnSubmit">Ver
                    </button>
                </div>
                <br>
                <br>
            </form>
        </div>
        <br>
    </div>
</div>