<div class="row container" style="width: 20rem; padding: 50px; background-color: #e9ecef; border-radius: 0.5rem; margin: 100px auto auto;">
    <div>
        <br>
        <br>
        <h3 style="color: #00818A; text-align: center;">Reserva realizada con éxito </h3>
        <br>
        <br>
    </div>
</div>