<div class="row">
    <div class="col-12" style="display: flex; justify-content: center">
        <h1 style="color: #00818A; margin-top: 50px; margin-bottom: 30px;"> Seleccione el Resaurante: </h1>
    </div>
</div>

<form id="elegir_restaurante" method="post" action="/home">
    <div class="row container" style="width: 90%; margin: auto;">

    </div>
</form>


<script type="text/javascript">
    const formLogin = document.querySelector('#elegir_restaurante')
    const formData = new FormData(formLogin)


    const myHeaders = new Headers();
    myHeaders.append('autorization', `Bearer ${localStorage.token}`)

    fetch('/api/restaurante', {
        method: 'GET',
        headers: myHeaders
    })
            .then(res => res.json())
            .then(data => {
                data.map(restaurante => {
                    // const list_mesas = data
                    // let text = document.createTextNode(mesa.nombre_mesa)
                    let hbs = '';
                    // console.log(data)
                    data.forEach(elemento => {
                        // console.log("elemento", elemento)
                    })
                    data.forEach(elemento => {
                         // console.log(elemento.id_restaurante)
                        console.log('/api/restaurante/' +  elemento.id_restaurante)
                        let htmlSegment = `
                        <div class="card col-12 col-sm-12 col-md-6 col-lg-6 card_rest" style="width: 16rem; margin: 30px; padding-right: 0; padding-left: 0;" id="${elemento.id_restaurante}">
                            <img src="/images/restaurante.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${elemento.nombre}</h5>
                                <p class="card-text"> Del restaurante N°: ${elemento.direccion}</p>
                                <a href='/index/${elemento.id_restaurante}' class="btn btn-primary" style="background-color: #00818A; border: none">Elegir</a>
                            </div>
                        </div>
                    `
                        hbs += htmlSegment;
                    });

                    let container = document.querySelector('.container');
                    container.innerHTML = hbs;
                })
            })

    // fetch("/api/restaurante/" + 2, {
    //     method: 'GET',
    //     headers: myHeaders
    // })


</script>