<div class="row">
    <div class="col-12" style="display: flex; justify-content: center">
        <h1 style="color: #00818A; margin-top: 50px; margin-bottom: 30px;"> Buscar Cliente</h1>
    </div>
</div>
<div class="container" style="margin: auto;">
    <form id="busqueda" method="post" action=""
          style="width: 20rem; margin: auto; padding: 50px; background-color: #e9ecef; border-radius: 0.5rem; text-align: center;">
        <div>
            <span>Ingrese cédula del cliente: </span>
            <label for="cedula">
                <input name="cedula" id="cedula" placeholder="Cédula" style="margin: 10px 10px 10px 0;">
            </label>
        </div>
        <button type="submit"
                style=" background: #00818A; color: white; border: 2px solid #00818A; border-radius: 0.2rem;"
                name="btnSubmit">Buscar
        </button>
        <br>
        <br>
    </form>
    <div style="display: flex; justify-content: center;">
        <div class="row" style="border: 2px solid #00818A; margin-top: 100px; border-radius: 0.5rem; width: 70%; display: flex; justify-content: center;">
            <div class="col-12" style="padding: 25px; width: auto;">
                <h1 style="color: #00818A; margin-bottom: 30px;"> Esperando cliente para reservar: </h1>
                <h4 style="color: #00818A">Restaurante: {{restaurante}}</h4><br>
                <h4 style="color: #00818A">Mesa: {{mesa}}</h4><br>
            </div>
        </div>
    </div>
</div>

<br>


<script type="text/javascript">

</script>